.App {
  text-align: center;
  background-color: burlywood;
}
.profile{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bio{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.profile > * {
   margin: 20px;
}
